body {
  background: #fffdd0;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: #1261a0;
  font-weight: 100;
  font-size: 50px;
  margin: 100px 0px 30px;
}

#clock {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 55px;
}

#clock > div {
  padding: 50px;
  display: inline-block;
  border-radius: 15px;
  background: #1f5a56;
}

#clock div > span {
  padding: 65px;
  border-radius: 15px;
  background: #000;
  display: inline-block;
}

.smallText {
  padding-top: 5px;
  font-size: 25px;
}
